/* body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.main_upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 40%;
    height: auto;
    padding: 50px 50px 50px 50px;
    margin-top: 120px;
    margin-left: 570px;
    border-radius: 7px;
}

.main_upload h1{
    color: white;
    margin-bottom: 0px;
}

.main_upload p{
    color: white;
}

.image_div{
    height: 185px;
    width: 30%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: thin none transparent;
    border-radius: 200px;
}

.image_div img{
    width: 100%;
    height: 185px;
    border-radius: 200px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    height: 100px;
    width: 100%;
    margin-top: 20px;
}



section div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: thick dashed rgb(179, 177, 177);
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 100px;
}

section div p{
    font-size: 20pt;
    color: #78a8df;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 40px;
}

.buttons button{
    border: thin none transparent;
    border-radius: 20px;
    background: white;
    color: #111E6C;
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
    outline: none;
}

#skip{
    background: transparent;
    color: white;
    outline: none;
}