#main{
    background: url('./b2.jpg');
    display: flex;
    flex-direction: column;
    height: 750px;
}

#button-container{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}

#button-container button{
    height: 30px;
    width: 100px;
    color: rgb(47, 109, 202);
    border: thin solid transparent;
    box-shadow: 0px 2px 2px grey;
    outline: none;
    border-radius: 5px;
    background-color: white;
    margin-left: 10px;
    margin-right: 5px;
}

#form-data1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    width: 1200px;
    margin-top: 80px;
    background: white;
    margin-left: 150px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

#form-data1 img{
    margin-right: 10px;
}

#form1{
    height: 550px;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    background: transparent;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}

input[type = text]{
    width: 300px;
    border: thin none transparent;
    border-bottom: thin solid rgb(47, 109, 202);
    padding: 3px;
    color : rgb(47, 109, 202);
    outline: none;
}

input[type = email]{
    width: 300px;
    border: thin none transparent;
    border-bottom: thin solid rgb(47, 109, 202);
    color : rgb(47, 109, 202);
    padding: 3px;
    outline: none;
}

input[type = submit]{
    margin-top: 15px;
    width: 150px;
    height: 45px;
    outline:none;
    color: rgb(47, 109, 202);
    font-size: large;
    border-radius: 20px;
    border: thin none transparent;
}