/* .particles{
    position: fixed;
    bottom:0;
    top:0;
    right:0;
    left:0;
    z-index: -1;
}body{
    background: #5d99dd;
}

#main{
    display: flex;
    flex-direction: column;
    height: 750px;
    background: transparent;
}

#button-container{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

#button-container button{
    height: 30px;
    width: 100px;
    color: gold;
    border: thin solid transparent;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    margin-left: 10px;
    margin-right: 5px;
}

#button-container button:hover{
    text-decoration: underline;
}

#form-data1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: thin solid #000080;
    border-radius: 5px;
    width: 25%;
    margin-top: 100px;
    background: black;
    margin-left: 700px;
}

.particles{
    position: fixed;
    bottom:0;
    top:0;
    right:0;
    left:0;
    z-index: -1;
}



#form1{
    display: flex;
    flex-direction: column;
    color: gold;
    text-align: center;
    height: 550px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    background: transparent;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}

#form1 p{
    text-align: left;
}

input[type = text]{
    width: 300px;
    background: transparent;
    border: thin none transparent;
    border-bottom: thin solid gold;
    padding: 3px;
    color : gold;
    outline: none;
}

input[type = email]{
    width: 300px;
    border: thin none transparent;
    background: transparent;
    border-bottom: thin solid gold;
    color : gold;
    padding: 3px;
    outline: none;
}

input[type = password]{
    width: 300px;
    border: thin none transparent;
    background: transparent;
    border-bottom: thin solid gold;
    color : gold;
    padding: 3px;
    outline: none;
}

#submit{
    margin-top: 30px;
    border-radius: 22px;
    width: 150px;
    height: 45px;
    outline:none;
    color: black;
    font-size: large;
    background: gold;
    border-radius: 22px;
    border: thin none transparent;
} */
